@charset "UTF-8";
:root {
  /* Оголошення змінної зі значенням кольору */
  --my_Turquoise: #03839E;
  --my_Yellow: #FFE339;
  --my_Yellow-light: #FFEC7A;
  --my_Grey: #B3B3B3;
  --my_Grey-light: #F8F8F8;
  --my_Red: #EB5757;
}