@import "_reset";
@import "colors";
@import "fonts";


html,
body {
    height: 100%;
    font-family: 'Manrope', sans-serif;
    // background-color: #F8F8F8;
    // z-index: -3;
}

.wrapper {
    width: 1440px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.block-1__wrapper {
    z-index: 2;
}

.header {
    width: 100%;
    margin-top: 20px;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 2.25rem;
        line-height: 2.6875rem;
        letter-spacing: 0.06em;
        color: #333333;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        width: 475px;
        display: flex;
        justify-content: space-between;
    }

    &__link-cart {
        display: none;
    }

    &__link {

        a {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: var(--my_Grey-text-p);

            &::after {
                content: '';
                display: block;
                width: 100%;
                background-color: #111;
                height: .0625rem;
                transition: all .3s;
                transform: scale(0);
            }

            &:hover::after {
                transform: scale(1.2);
            }

            &:active {
                transition: all .3s;
                transform: scale(1.2);
            }
        }
    }

    &__cart {
        max-width: 1.875rem;
    }
}

.header {

    &__burger {
        display: none;
    }

    @media (max-width: 767px) {
        body.lock {
            overflow: hidden;
        }

        .header__body {
            width: 100%;
        }

        &__burger {
            display: flex;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;
            right: 0;
            top: 0;
        }

        span {
            position: absolute;
            background-color: #000000;
            left: 0;
            width: 100%;
            height: 3px;
            top: 8.5px;
            transition: all 0.3s ease 0s;
        }

        &__burger:before,
        &__burger:after {
            content: '';
            background-color: #000000;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            transition: all 0.3s ease 0s;
        }

        &__burger:before {
            top: 0;
        }

        &__burger::after {
            bottom: 0;
        }

        &__burger.active::before {
            transform: rotate(45deg);
            top: 8.5px;
        }

        &__burger.active::after {
            transform: rotate(-45deg);
            bottom: 8.5px;
        }

        &__burger.active span {
            transform: scale(0);
        }

        &__menu {
            position: fixed;
            top: -100%;
            right: 0;
            width: 50%;
            height: 100%;
            overflow: auto;
            transition: all 0.3s ease 0s;
            background-color: #03839E;
            z-index: 2;
        }

        &__list {
            width: 180px;
            height: 30%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }

        &__link-cart {
            display: block;
        }

        &__link {
            a {
                display: inline-block;
                font-size: 2rem;
                line-height: 2.5rem;
                color: #F8F8F8;
            }
        }

        .header__cart {
            display: none;
        }

        &__menu.active {
            top: 0;
        }
    }
}


.top-img-absolute {
    img {
        position: absolute;
        width: 1035px;
        height: 466px;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.top {
    position: relative;

    &__info {
        margin: 80px 0 0 0;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        margin-left: 82px;
    }

    &__vertical-text {
        position: absolute;
        transform: rotate(90deg);
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--my_Turquoise);

        position: absolute;
        left: 65px;
        top: 510px;

        //тіре
        span {
            position: absolute;
            width: 44px;
            height: 1px;
            background-color: var(--my_Turquoise);
            top: 50%;
            left: 110%;
        }

        &::before,
        &::after {
            position: absolute;
            width: 12px;
            height: 1px;
            background-color: var(--my_Turquoise);
            left: 136%;
        }

        // верх
        &::before {
            content: '';
            rotate: 45deg;
            bottom: 73%;
            top: 29%;
        }

        // низ
        &:after {
            content: '';
            rotate: -45deg;
            bottom: 27%;
            top: 71%;
        }
    }

    &__title {
        font-family: "Bebas Neue";
        width: 470px;
        font-size: 64px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 0.155em;

        -webkit-text-fill-color: transparent; // прозорий текст
        -webkit-text-stroke: 1px var(--my_Turquoise); // бордер текста

        span {
            -webkit-text-fill-color: var(--my_Turquoise);
        }
    }

    &__wrap-price {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 20px;
    }

    &__block-price {
        width: 139px;
        margin-right: 32px;
    }

    &__price {
        font-size: 26px;
        font-weight: 700;
        line-height: 36px;
        color: #333333;
    }

    &__ofer {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: var(--my_Grey-text-p);
    }

    &__btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
    }

    &__btn-item {
        position: relative;
        height: 48px;
        width: 270px;
        background-color: var(--my_Yellow);

        color: #121212;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        text-align: left;
        padding-left: 81px;

        //тіре
        span {
            position: absolute;
            width: 28px;
            height: 1px;
            background-color: #000;
            top: 50%;
            left: 60%;


            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 8px;
                height: 1px;
                background-color: #000;
                left: 77%;
            }

            // верх
            &::before {
                rotate: 45deg;
                top: -2.5px;
            }

            // низ
            &:after {
                rotate: -45deg;
                top: 2.5px;
            }
        }

        &:hover {
            background-color: var(--my_Yellow-light);
        }
    }

    &__img {
        img {
            width: 500px;
            height: 500px;
        }
    }
}

.products {
    margin: 150px 0 0 0;
}

.product {

    &__block {
        position: relative;
        display: flex;
    }

    &__vertical-text {
        font-family: "Bebas Neue";
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.22em;
        color: #828282;

        transform: rotate(90deg);
        position: absolute;
        right: -2%;
        top: 17%;

        //тіре
        span {
            position: absolute;
            width: 65px;
            height: 1px;
            background-color: #828282;
            top: 50%;
            left: -120%;
        }
    }

    &__col {
        margin-right: 200px;
    }

    &__title {
        position: relative;
        font-family: "Bebas Neue";
        width: 470px;
        font-size: 36px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.155em;
        color: #000;

        span {
            position: absolute;
            left: -14.5%;
        }

        .product__1-first,
        .product__1-second,
        .product__2-first,
        .product__2-second,
        .product__3-first,
        .product__3-second {
            display: inline-block;
            width: 45px;
            height: 1px;
            background-color: #333333;
            transform: rotate(-72deg);
        }

        .product__1-first {
            top: 15%;
            left: -21.5%;
        }

        .product__1-second {
            top: 73%;
            left: 62%;
        }

        .product__2-first {
            top: -55%;
            left: -2%;
        }

        .product__2-second {
            top: 73%;
            left: 58%;
        }

        .product__3-first {
            top: 7%;
            left: -22%;
        }

        .product__3-second {
            top: 85%;
            left: 25%;
        }
    }

    &__img {
        margin-top: 34px;
    }

    &__title-star {
        position: relative;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #333333;
        margin: 208px 0 40px;

        span {
            position: absolute;
            top: 15%;
            left: -6.5%;
        }
    }

    &__text {
        width: 370px;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        color: var(--my_Grey-text-p);
        margin-top: 10px;
    }
}

.product {
    &__block {
        margin-top: 46px;
    }

    &__vertical-text-second {
        font-family: "Bebas Neue";
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.22em;
        color: #828282;

        transform: rotate(-90deg);
        position: absolute;
        left: -2.2%;
        top: 90%;

        //тіре
        span {
            position: absolute;
            width: 65px;
            height: 1px;
            background-color: #828282;
            top: 50%;
            left: -120%;
        }
    }

    &__col-second {
        margin: 105px 0 0 100px;
    }

    &__img-1 {
        width: 500px;
        height: 500px;
    }

    &__img-2 {
        width: 300px;
        height: 417px;
    }

    &__img-3 {
        width: 470px;
        height: 670px;
    }

    &__title-star-second {
        margin: 45px 0 0 0px;
        flex: 0 1 100%;
        position: relative;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #333333;

        span {
            position: absolute;
            top: 15%;
            left: -6.5%;
        }
    }



    &__title {
        position: relative;
        width: 400px;

        .title__second {
            position: absolute;
            width: 65px;
            height: 1px;
            // background-color: #828282;
            top: -75px;
            left: 5%;
        }
    }

    &__col-text {
        margin-top: 10px;
        width: 370px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--my_Grey-text-p);
    }

    &__col-third {
        margin-left: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__text-info {
        margin-top: 40px;
    }
}

.title-second {
    margin-top: 113px;
}

/* block 3 img */
.features {
    margin-top: 150px;

    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 71px;
    }

    &__title {
        font-family: "Bebas Neue";
        font-size: 58px;
        font-weight: 400;
        line-height: 70px;
        letter-spacing: 0.155em;
        color: var(--my_Turquoise);

        span {
            -webkit-text-fill-color: transparent; // прозорий текст
            -webkit-text-stroke: 1px var(--my_Turquoise); // бордер текста
        }
    }

    &__block {
        width: 370px;

    }

    &__block-img {
        max-width: 430px;
    }

    &__block-title {
        font-family: "Bebas Neue";
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.155em;
        margin-top: 17px;
        color: #333333;
    }

    &__block-text {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 20px;
        color: var(--my_Grey-text-p);
    }
}

/* //block 3 img */

/* team! */
.team {

    &__title {
        margin-top: 150px;
        font-family: "Bebas Neue";
        font-size: 58px;
        font-weight: 400;
        line-height: 70px;
        letter-spacing: 0.155em;
        color: #333333;
    }

    &__content {
        position: relative;
    }

    &__block {
        display: flex;
        align-items: flex-end;
        max-height: 507px;
        margin-top: 143px;
    }

    &__text {
        width: 336px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: var(--my_Grey-text-p);

        p {
            margin: 15px 0;
        }
    }

    &__img {
        max-width: 677px;
        max-height: 507px;
        margin-left: 57px;
    }

    &__rectangle {
        position: absolute;
        top: -5%;
        left: -12%;
    }

    &__upper-absolute-title,
    &__lowercase-absolute-title {
        font-family: "Bebas Neue";

        font-size: 288px;
        font-weight: 400;
        line-height: 346px;
        letter-spacing: 0.155em;
        text-align: left;

        position: absolute;
        z-index: 1;

        -webkit-text-fill-color: transparent; // прозорий текст
        -webkit-text-stroke: 1px var(--my_Turquoise); // бордер текста

        span {
            letter-spacing: 0em;
        }
    }

    &__upper-absolute-title {
        top: -22.5%;
        left: -5.3%;
    }

    &__lowercase-absolute-title {
        right: -11%;
        bottom: -57.5%;
        max-width: 598px;
    }
}

/* //team! */

/* Materials and Features */
.special {

    &__block {
        margin-top: 386px;
        position: relative;

        img {
            max-width: 1440px;
        }
    }

    &__main-title {
        max-width: 875px;
        font-family: "Bebas Neue";
        font-size: 139px;
        font-weight: 400;
        line-height: 167px;
        letter-spacing: 0.12em;
        color: var(--my_Turquoise);

        position: absolute;
        top: -160px;
        left: 135px;
    }

    &__block-info {
        width: 470px;
        position: absolute;
        top: 0;
        right: 135px;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: #4f4f4f;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #4f4f4f;
        margin-top: 15px;
    }

    &__plus-1,
    &__plus-2,
    &__plus-3,
    &__plus-4,
    &__plus-5 {
        width: 51px;
        height: 51px;
        border-radius: 50%;
        background-color: var(--my_Red);

        color: #E0E0E0;
        font-size: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        transition: all 0.3s ease 0s;
    }

    &__plus-1 {
        bottom: 156px;
        left: 254px;
    }

    &__plus-2 {
        bottom: 400px;
        left: 547px;
    }

    &__plus-3 {
        bottom: 105px;
        left: 684px;
    }

    &__plus-4 {
        bottom: 272px;
        left: 835px;
    }

    &__plus-5 {
        bottom: 373px;
        left: 1116px;
    }

    // Блок з текстом
    .special__block-1,
    .special__block-2,
    .special__block-3,
    .special__block-4,
    .special__block-5 {
        position: absolute;
        display: none;
        background-color: #00000069;

        p {
            width: 213px;
            font-size: 16px;
            line-height: 24px;
            color: #F8F8F8;
            margin: 35px;
        }
    }

    // Перший зліва
    .special__block-1 {
        right: 1026px;
        bottom: 237px;
    }

    .special__block-2 {
        right: 874px;
        bottom: 471px;
    }

    .special__block-3 {
        right: 767px;
        bottom: 19px;
    }

    .special__block-4 {
        right: 440px;
        bottom: 365px;
    }

    .special__block-5 {

        right: 152px;
        bottom: 130px;
    }
}

/* //Materials and Features */

/* Which size POTR block-7 */
.block-7 {
    margin: 7px 0;

    &__wrapper {
        padding: 100px 0;
    }

    &__wrap {
        display: flex;
    }

    &__title {
        font-family: "Bebas Neue";
        font-size: 36px;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: 0.155em;
        min-width: 650px;
    }

    &__column {
        margin: 66px 0 0 0;
    }

    &__text-bottom {
        margin-top: 109px;
        width: 546px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #4f4f4f;
    }
}

.column {

    &__col {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #4f4f4f;

        p {
            width: 240px;
            margin-right: 16px;
        }
    }


    &__wrap {
        margin: 0px 96px 40px 0px;
        padding-left: 30px;
    }

    &__subtitle {
        font-family: "Bebas Neue";
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.155em;

    }

    &__text {
        margin-top: 10px;
    }

    &__img {
        max-width: 528px;
        max-height: 427px;
    }
}

.column__col-2 {
    height: 257px;
    border-left: 1px #d8d8d8 solid;
}

/* Which size POTR block-7 */

/* block-8 */
.bloc-8 {
    position: relative;

    &__wrapper {
        display: flex;
    }
}

.col {

    &__img {
        max-width: 593px;
        // max-height: 792px;
        z-index: -1;

        position: absolute;
        top: -40px;
        left: -83px;
    }

    &__wrap {
        margin: 140px 0 150px 520px;
    }

    &__row-first {
        width: 642px;
        display: flex;
        justify-content: space-between;
    }

    &__row-second {
        margin-top: 40px;
    }

    &__row-title {
        position: relative;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        color: #333333;
        margin-left: 20px;

        span {
            position: absolute;
            width: 7.17px;
            height: 7.17px;
            left: -20px;
            top: 23px;
            align-items: center;

            background: #4F4F4F;
            transform: rotate(-45deg);
        }
    }

    &__row-text {
        font-size: 16px;
        line-height: 24px;
        color: #828282;
        margin: 5px 0 0 20px;
    }

    &__row-btn {
        border: 1px var(--my_Turquoise) solid;
        width: 238px;
        height: 48px;
        margin-top: 60px;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            color: #121212;
            background-color: white;
            border: solid white;
        }
    }

    &__row-sail {
        width: 540px;
        margin-left: 110px;

        .row__sail-title {
            font-family: "Bebas Neue";
            font-size: 36px;
            font-weight: 400;
            line-height: 54px;
            letter-spacing: 0.155em;
            color: var(--my_Red);
            margin-top: 70px;
        }

        .row__sail-subtitle {
            font-family: "Bebas Neue";
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.155em;
            color: #03839E;
            margin-top: 5px;
        }
    }
}

/* block-8 */

/* block-9 */
.block-9 {

    &__wrapper {
        height: 567px;
    }

    &__column {}

    &__absolute {
        position: relative;
    }

    &__column-col {}
}

.yellow-square {
    height: 567px;
    width: 1304px;
    left: -135px;
    top: 0px;
    border-radius: 0px;
    background-color: #FFEC7A;

    position: absolute;
    z-index: -1;

}

.yellow-print {
    position: absolute;
    width: 161px;
    height: 164px;
    right: -85px;
    top: -95px;
}

.column {

    &__col-title {}

    &__col-subtitle {}

    &__col-form {}

    &__col-info {}
}

.col-info {

    &__phone {}
}


/* block-9 */

/* footer */
.info {
    height: 296px;
    display: flex;
    justify-content: space-between;
    margin-top: 74px;

    &__adress {
        width: 170px;

        a {
            display: block;
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #000;
        }
    }

    &__title {
        font-family: "Bebas Neue";
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.155em;
        text-align: left;
        color: #000;
    }

    &__block {
        text-align: center;
    }

    &__social-networks {
        width: 230px;
        display: flex;
        justify-content: space-between;

        a {
            width: 30px;
            height: 30px;
        }
    }

    &__logo {
        display: block;
        margin-top: 74px;
        font-family: "Bebas Neue";
        font-size: 36px;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: 0.155em;
        color: #000;
    }

    &__our-rights {}

    &__copy {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #000;
    }
}

/* footer */