@import "_reset";
@import "colors";
@import "fonts";

/* Meet the POTR team! */

/* Meet the POTR team! */


html,
body {
    height: 100%;
    font-family: "Manrope";
}

.wrapper {
    width: 1440px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.footer {
    height: 300px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.navbar {
    margin-top: 20px;

    &__logo {
        font-size: 2.25rem;
        line-height: 2.6875rem;
        letter-spacing: 0.06em;
        color: #333333;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        width: 475px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        a {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: var(--my_Grey-text-p);

            &::after {
                content: '';
                display: block;
                width: 100%;
                background-color: #111;
                height: .0625rem;
                transition: all .3s;
                transform: scale(0);
            }

            &:hover::after {
                transform: scale(1.2);
            }

            &:active {
                transition: all .3s;
                transform: scale(1.2);
            }
        }
    }

    &__cart {
        max-width: 1.875rem;
    }
}

.top-img-absolute {
    img {
        position: absolute;
        width: 1035px;
        height: 466px;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.top {
    position: relative;

    &__info {
        margin: 80px 0 0 0;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        margin-left: 82px;
    }

    &__vertical-text {
        position: absolute;
        transform: rotate(90deg);
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--my_Turquoise);

        position: absolute;
        left: 65px;
        top: 510px;

        //тіре
        span {
            position: absolute;
            width: 44px;
            height: 1px;
            background-color: var(--my_Turquoise);
            top: 50%;
            left: 110%;
        }

        &::before,
        &::after {
            position: absolute;
            width: 12px;
            height: 1px;
            background-color: var(--my_Turquoise);
            left: 136%;
        }

        // верх
        &::before {
            content: '';
            rotate: 45deg;
            bottom: 73%;
            top: 29%;
        }

        // низ
        &:after {
            content: '';
            rotate: -45deg;
            bottom: 27%;
            top: 71%;
        }
    }

    &__title {
        font-family: "Bebas Neue";
        width: 470px;
        font-size: 64px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 0.155em;

        -webkit-text-fill-color: transparent; // прозорий текст
        -webkit-text-stroke: 1px var(--my_Turquoise); // бордер текста

        span {
            -webkit-text-fill-color: var(--my_Turquoise);
        }
    }

    &__wrap-price {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 20px;
    }

    &__block-price {
        width: 139px;
        margin-right: 32px;
    }

    &__price {
        font-size: 26px;
        font-weight: 700;
        line-height: 36px;
        color: #333333;
    }

    &__ofer {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: var(--my_Grey-text-p);
    }

    &__btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
    }

    &__btn-item {
        position: relative;
        height: 48px;
        width: 270px;
        background-color: var(--my_Yellow);

        color: #121212;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        text-align: left;
        padding-left: 81px;

        //тіре
        span {
            position: absolute;
            width: 28px;
            height: 1px;
            background-color: #000;
            top: 50%;
            left: 60%;


            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 8px;
                height: 1px;
                background-color: #000;
                left: 77%;
            }

            // верх
            &::before {
                rotate: 45deg;
                top: -2.5px;
            }

            // низ
            &:after {
                rotate: -45deg;
                top: 2.5px;
            }
        }

        &:hover {
            background-color: var(--my_Yellow-light);
        }
    }

    &__img {
        img {
            width: 500px;
            height: 500px;
        }
    }
}

.products {
    margin: 150px 0 0 0;
}

.product {

    &__block {
        position: relative;
        display: flex;
    }

    &__vertical-text {
        font-family: "Bebas Neue";
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.22em;
        color: #828282;

        transform: rotate(90deg);
        position: absolute;
        right: -2%;
        top: 17%;

        //тіре
        span {
            position: absolute;
            width: 65px;
            height: 1px;
            background-color: #828282;
            top: 50%;
            left: -120%;
        }
    }

    &__col {
        margin-right: 200px;
    }

    &__title {
        position: relative;
        font-family: "Bebas Neue";
        width: 470px;
        font-size: 36px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.155em;
        color: #000;

        span {
            position: absolute;
            left: -14.5%;
        }

        .product__1-first,
        .product__1-second,
        .product__2-first,
        .product__2-second,
        .product__3-first,
        .product__3-second {
            display: inline-block;
            width: 45px;
            height: 1px;
            background-color: #333333;
            transform: rotate(-72deg);
            margin-right: 40px;
        }

        .product__1-first {
            top: 15%;
            left: -21.5%;
        }

        .product__1-second {
            top: 73%;
            left: 62%;
        }

        .product__2-first {
            top: -55%;
            left: -2%;
        }

        .product__2-second {
            top: 73%;
            left: 58%;
        }

        .product__3-first {
            top: 7%;
            left: -22%;
        }

        .product__3-second {
            top: 85%;
            left: 25%;
        }
    }

    &__img {
        margin-top: 34px;
    }

    &__title-star {
        position: relative;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #333333;
        margin: 208px 0 40px;

        span {
            position: absolute;
            top: 15%;
            left: -6.5%;
        }
    }

    &__text {
        width: 370px;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        color: var(--my_Grey-text-p);
        margin-top: 10px;
    }
}

.product {
    &__block {
        margin-top: 46px;
    }

    &__vertical-text-second {
        font-family: "Bebas Neue";
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.22em;
        color: #828282;

        transform: rotate(-90deg);
        position: absolute;
        left: -2.2%;
        top: 90%;

        //тіре
        span {
            position: absolute;
            width: 65px;
            height: 1px;
            background-color: #828282;
            top: 50%;
            left: -120%;
        }
    }

    &__col-second {
        margin: 105px 0 0 100px;
    }

    &__img-1 {
        width: 500px;
        height: 500px;
    }

    &__img-2 {
        width: 300px;
        height: 417px;
    }

    &__img-3 {
        width: 470px;
        height: 670px;
    }

    &__title-star-second {
        margin: 45px 0 0 0px;
        flex: 0 1 100%;
        position: relative;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #333333;

        span {
            position: absolute;
            top: 15%;
            left: -6.5%;
        }
    }



    &__title {
        position: relative;
        width: 400px;

        .title__second {
            position: absolute;
            width: 65px;
            height: 1px;
            // background-color: #828282;
            top: -75px;
            left: 5%;
        }
    }

    &__col-text {
        margin-top: 10px;
        width: 370px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--my_Grey-text-p);
    }

    &__col-third {
        margin-left: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__text-info {
        margin-top: 40px;
    }
}

.title-second {
    margin-top: 113px;
}

/* block 3 img */
.features {
    margin-top: 150px;

    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 71px;
    }

    &__title {
        font-family: "Bebas Neue";
        font-size: 58px;
        font-weight: 400;
        line-height: 70px;
        letter-spacing: 0.155em;
        color: var(--my_Turquoise);

        span {
            -webkit-text-fill-color: transparent; // прозорий текст
            -webkit-text-stroke: 1px var(--my_Turquoise); // бордер текста
        }
    }

    &__block {
        width: 370px;

    }

    &__block-img {
        max-width: 430px;
    }

    &__block-title {
        font-family: "Bebas Neue";
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.155em;
        margin-top: 17px;
        color: #333333;
    }

    &__block-text {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 20px;
        color: var(--my_Grey-text-p);
    }
}

/* //block 3 img */

/* team! */
.team {

    &__title {
        margin-top: 150px;
        font-family: "Bebas Neue";
        font-size: 58px;
        font-weight: 400;
        line-height: 70px;
        letter-spacing: 0.155em;
        color: #333333;
    }

    &__content {
        position: relative;
    }

    &__block {
        display: flex;
        align-items: flex-end;
        max-height: 507px;
        margin-top: 143px;
    }

    &__text {
        width: 336px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        color: var(--my_Grey-text-p);

        p {
            margin: 15px 0;
        }
    }

    &__img {
        max-width: 677px;
        max-height: 507px;
        margin-left: 57px;
    }

    &__rectangle {
        position: absolute;
        top: -5%;
        left: -12%;
        z-index: -1;
    }

    &__upper-absolute-title,
    &__lowercase-absolute-title {
        font-family: "Bebas Neue";
        font-size: 288px;
        font-weight: 400;
        line-height: 346px;
        letter-spacing: 0.155em;
        text-align: left;

        position: absolute;
        z-index: 1;

        -webkit-text-fill-color: transparent; // прозорий текст
        -webkit-text-stroke: 1px var(--my_Turquoise); // бордер текста

        span {
            letter-spacing: 0em;
        }
    }

    &__upper-absolute-title {
        top: -22.5%;
        left: -5.3%;
    }

    &__lowercase-absolute-title {
        right: -11%;
        bottom: -57.5%;
        max-width: 598px;
    }
}
/* //team! */

/* Materials and Features */
.special {

    &__block {
        margin-top: 386px;
        position: relative;

        img {
            max-width: 1440px;
        }
    }

    &__main-title {
        max-width: 875px;
        font-family: "Bebas Neue";
        font-size: 139px;
        font-weight: 400;
        line-height: 167px;
        letter-spacing: 0.12em;
        color: var(--my_Turquoise);

        position: absolute;
        top: -160px;
        left: 135px;
    }

    &__block-info {
        width: 470px;
        position: absolute;
        top: 0;
        right: 135px;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: #4f4f4f;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #4f4f4f;
        margin-top: 15px;
    }

    &__plus {}
}
/* //Materials and Features */

/* footer */
.info {
    display: flex;
    justify-content: space-between;
    margin-top: 74px;

    &__adress {
        width: 170px;
    }

    &__title {
        font-family: "Bebas Neue";
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.155em;
        text-align: left;
    }

    &__block {}

    &__social-networks {
        a {
            width: 30px;
            height: 30px;
            background-color: #000;
        }
    }

    &__logo {}

    &__our-rights {


    }

    &__copy {}
}
/* footer */